PROJECT_NAME=Marketplace API
API_V1_STR=/api/v1

POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=marketplace_db
POSTGRES_USER=marketplace_user
POSTGRES_PASSWORD=supersecret

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

SECRET_KEY=your-secret-key
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
FRONTEND_URL=http://localhost:3000

