PROJECT_NAME=Marketplace API

API_V1_STR=/api/v1

POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=marketplace
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

SECRET_KEY=secret

